.filter-item {
    padding: 8px;
    display: flex;
    border: 1px solid var(--zomato-grey);
    background-color: var(--primary-bg);
    color : var(--filter-text);
    border-radius: 8px;
    margin: 10px 10px 10px 0px;
    font-size: 14px;
}

.filter-name {
    margin-left: 5px;
}