@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Nunito:ital,wght@0,200;0,500;1,400&family=Oswald:wght@200&display=swap');
@import './components/styles/commonStyle.css';
@import './components/styles/variables.css';

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
